{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth; 
}
 
body {
    background-color: #bad9f4; 
    color: #333; 
}

nav {
    background-color: rgb(245, 247, 250);
    padding: 10px 20px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
   
}

nav h2 { 
    color: #120e1e; 
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

@media (max-width: 768px)

nav ul {
    list-style: none; 
    display: flex; 
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgb(0, 7, 7);
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    padding: 8px 20px;
    border-radius: 4px; 
    transition: 0.3s; 
}

nav ul li a.active, nav ul li a:hover {
    background-color: rgb(40, 91, 142);
    color: white; 
}

img {
    display: inline-block; 
    width: 100px;          
    max-width: 100%;     
    height: auto;   
    border-radius: 20px; 
    margin: 20px;
}

h3 a.active, h3 a:hover {
    background-color: transparent;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 50px;
    display: inline-block; 
}

footer {
    background-color: rgb(228, 232, 236);
    padding: 10px 20px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}