{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth; 
}
 
body {
    background-color: #bad9f4; 
    color: #333; 
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(245, 247, 250);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgb(0, 7, 7);
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    padding: 8px 20px;
    border-radius: 4px;
    transition: 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: rgb(40, 91, 142);
    color: white;
}

/* Mobile */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 10px 0;
    }
}

img {
    display: inline-block; 
    width: 100px;          
    max-width: 100%;     
    height: auto;   
    border-radius: 20px; 
    margin: 20px;
}

h3 a.active, h3 a:hover {
    background-color: transparent;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 50px;
    display: inline-block; 
}

footer {
    background-color: rgb(228, 232, 236);
    padding: 10px 20px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.bookinghere{}
.bookinghere .input{
    font-size: 14px; 
    padding: 5px;
    width: 200px;
    border-radius: 3px;
    border-color: #333;
    color: blue;

} 
.bookinghere .select{
    font-size: 14px; 
    padding: 5px;
    width: 200px;
    border-radius: 3px;
    border-color: #333;
    color: blue;

} 
.bookinghere .button{
    background-color: black;
    color: #ffffff;
    padding:5px ;
    border-radius: 3px;
    cursor: pointer;


}
.bookinghere .button:hover{
    background-color: #333;
}
.dt{
    font-weight: 500;
}

